entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Clean CSV"

[[workflows.workflow]]
name = "Clean CSV"
author = 40670354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node script.js"
